/* Nevigation */
#manu{
    flex-direction:column; 
}
#manu ul li a{
    font-size:1rem;
    padding: 0px 7px;
    padding-bottom:8px;
}



/* Home section  */
#home{
height:370px;
padding:3px 68px;

}
#home::before{
    height:480px;
}
#home p{
    font-size:13px;
}

/* Clients Section  */
#clients{
    flex-wrap:wrap;
    
}
#clients img{
    width:66px;
    padding:2px 6px;
    height:auto;
    
}

/* Services  */
#services{
    flex-direction:column;


}
#services .box{
    padding:14px;
    margin:2px 0px;
    margin-bottom:20px;

}
#services .box img{
   height:140px;
   width:auto;


}


/* Contact us section  */

#common-background::before{
    height:123%
}

/* Footer  */
footer{
    bottom:0px;
}
/* Utilities  */
.h-primary{
    font-size:26px;

}
.btn{
    font-size:13px;
    padding:4px 8px;
}