*{
    padding:None;
    margin:0;
}
html{
    scroll-behavior: smooth;
}
title{
    display:None;
}
/* Navbar section  */
#navbar{
    display:flex;
    position:relative;
    width: 100%;
    
}

#navbar::before {
        content: "";
        background-color: black;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: .4;
    }


/* Navbar img  */
.logo img{
    height:100px;
    border-radius:50%;
    margin: 5px 5px
}
#navbar .logo img:hover{
    border-radius:0%;
    height:200px;
    transition:1s;
    border:1px solid white;

}

/* Navbar list  */
#navbar ul{
list-style: none;
display:flex;

}
#navbar ul li{
    margin: 32px 1px;
    padding:13px;

}
.nav-items a{
    text-decoration:none;
    color:white;
    font-size: 1rem;
    border:1px solid white;
    padding:8px;
}

#navbar ul li a:hover{
    background-color: white;
    color:black;
    border:1px solid black;
    transition:1s;

}
/* Home Section  */
#home{
 display:flex;
 align-items:center;
 justify-content:center;
 flex-direction:column;
 height:415px;

}


#home h1{
    color:white;

}
#home p{
    color:white;
    font-weight: 100;
}


/* Utilities */
.primary{
    text-align: center;
    font-size:3.8rem;
}
.paragraph{
    font-size:2rem;
    
}
.para02{
    font-size:1rem;
}
/* Projects-section  */

#projects{
    margin:61px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#projects h1{
    color:white;
   

}
#projects .project a{
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    margin-top:5px;


}
/* common  */
.common{
    height:600px;
}
.common::Before{
    content: "";
        background-image : url(img/bg.jpg) ;
        background-repeat:no-repeat;
       
        background-size:cover;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 160%;
        width: 100%;
        z-index: -1;
        opacity: .9;
}