/* Navbar section  */
*{
    margin:0;
    padding: 0;
    box-sizing:border-box ;
}

html,body{
    height: 100%;
    width: 100%;
}

#navbar{
    flex-direction:column;
    justify-content: center;
   align-items: center;
}
#navbar ul li{
    margin: 1px 1px;
    padding:0px;
}
#navbar ul li a{
    
    font-size:0.8rem;

}
#navbar .logo img{
    margin-top:5px;
}
/* home */

.primary{
    text-align: center;
    font-size:1.8rem;
}
.paragraph{
    font-size:1rem;
    text-align:center;
    
    
}
.para02{
    font-size:0.8rem;
}
/* Projects */
.common #projects .project a{
    font-size: 1.5rem;
}